/nbproject/Makefile-impl.mk
/nbproject/configurations.xml
/build/default/production/main.o.d
/nbproject/Makefile-local-default.mk
/dist/default/production/PIC32MX1_Git.X.production.map
/nbproject/project.xml
/Makefile
/nbproject/private/configurations.xml
/nbproject/Makefile-variables.mk
/nbproject/Makefile-genesis.properties
/nbproject/Makefile-default.mk
/dist/default/production/PIC32MX1_Git.X.production.hex
/nbproject/Package-default.bash
/dist/default/production/PIC32MX1_Git.X.production.elf
/nbproject/private/private.xml